//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.c-ttl_under {
	font-family: $ff-roboto;
	font-weight: bold;
	font-size: clamp(4.1rem, calc(4.1rem + 2vw), 8rem);

	white-space: nowrap;
	text-align: left;
	color: $text-white;

	&::after {
		content: "";
		display: none;

		width: 1em;
		height: 4px;
		margin-top: 0px;

		background-color: $bgc-white;

		@include breakpoint(lg) {
			display: block;
			margin-top: 21.5px;
		}

		@include breakpoint(lg) {
			margin-top: 34.5px;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
